* {
    font-family: fantasy
}

h1 {

    display: block;
    width: 100%;
    text-align: center;

    color: goldenrod;
    text-decoration: underline;
}

p {
    padding: 2em;
    margin: 2em;
    border: 2px solid salmon;
}